<h1 class="membershipHeader">
<%= render "partials/week_select" %>
<%= @membership.user.username%>'s picks for week <%= Week.current_week.week_number %>
</h1>
<div> <%= link_to "Games", league_games_path(@membership.league) %> </div>
<%= render "partials/picklist" %>
