<h1 class="membershipHeader">
<%= @membership.user.username%>'s picks for week <%= Week.current_week.week_number %>
</h1>
<ul class="pickList">
<% @picks.each do |pick| %>
  <li userPick>
  <%= pick[:confidence] %>
  <%= Team.find(pick[:winning_team]).location %> <%= Team.find(pick[:winning_team]).team_name %>
  </li>
  <% end %>
</ul>
