<h2 class="welcomeHeader">League Homepage for <%= @league.league_name %></h1>
  <div class="memberList">
    League Standings:
    <ol>
      <% @scores.each do |score|%>
      <li>
        <%=score[:username]%> | Season Score:
        <%=score[:score_season]%>
      </li>
      <% end %>
    </ol>
  </div>

  <% if !@members.find_by_id(current_user.id) %>
    <%= link_to "Join this league", league_memberships_path(@league), method: :post  %>
  <% end %>
  <% if @games %>
    <% if @picks.length ==0  %>
    <h3> <%= link_to "Click here to pick the games!",league_picks_path(@league.id) %> </h3>
      <h2 class="gameHead">Games for Week <%= @current_week.week_number %></h2>
      <div class=" row leagueGameList">
          <% @games.each do |game| %>
          <% away =Team.find_by_id(game.away_team_id).team_name  %>
          <% home =Team.find_by_id(game.home_team_id).team_name  %>
            <div class="small-6 medium-4 large-3 columns" id=<%="#{away}" %>>@</div>
            <div class="small-6 medium-4 large-3 columns" id=<%="#{home}"%>></div>

          <% end %>
      </div>

    <% else %>
    <h2 class="gameHead">Your picks for the week </h2>
    <h3><%= link_to "Edit your picks here",  league_picks_path(@league.id) %></h3>
    <div class="row">
    <% @picks.each do |pick| %>
    <% name =Team.find_by_id(pick[:winning_team]).team_name%>
    <% if name == "49ers" %>
    <% name = "Niners" %>
    <% end %>
    <div class="small-6 medium-4 large-3 columns gamePick" id=<%="#{name}"%>>
      <%=Team.find_by_id(pick[:winning_team]).location%>
      <%=Team.find_by_id(pick[:winning_team]).team_name%>
      <%=pick[:confidence]%>
    </div>
    <% end %>
  </div>
  <% end %>
  <% else %>
  <p> No Games Scheduled </p>
  <% end %>
