<ul class=" row memberPicks">
  <div class="columns small-10 small-offset-1 large-8 large-offset-2">
  <% @picks.each do |pick| %>
    <% team = Team.find_by_id(pick[:winning_team]) %>
      <% if team.team_name == "49ers" %>
      <% team.team_name = "Niners" %>
    <% end %>
    <% game = Game.find(pick[:game_id]) %>
    <li><% if @user == @membership.user || game.gametime < Time.now %>
      <% if game.winner && pick[:winning_team] == game.winner.id %>
        <span class="pickedGame winner" id=<%="#{team.team_name}"%>>
        <span><%= pick[:confidence] %></span>
        <% elsif game.winner && pick[:winning_team] != game.winner.id%>
          <span class="pickedGame loser" id=<%="#{team.team_name}"%>> - <%= pick[:confidence] %></span>
        <% else %>
          <span class="pickedGame" id=<%="#{team.team_name}"%>><%= pick[:confidence] %></span>
      <% end %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
