<% if current_user %>
<h2 class="welcomeHeader">Welcome <%=current_user.first_name%></h2>
<div class="leagueLinks">
  <span class="publicLink"> <%= link_to "Click here to see available leagues!", leagues_path  %> </span>
  <span class="privateLink"> <%= link_to "Click here to create a custom league!", new_league_path  %> </span>
</div>
    <% @memberships.each do |membership| %>
    <div class="row small-6 small-offset-3 medium-8 medium-offset-2 large-10 columns large-offset-2 leagueLink">
    <span class="columns small-6 medium-6 large-6"> <%=link_to "#{ membership.league.league_name}", league_path(membership.league)%></span>
      <span class="columns small-3  weeklyScore"><%="Score for week #{Week.current_week.week_number}: "%>
      <%= Membership.weekly_score(membership.user_id, membership.league_id,Week.current_week) %></span>
       <span class="columns small-3 yearToDateScore"><%= "Score for #{Week.current_week.year}: #{membership.score}" %></span>
    </div>
    <%  end   %>
<% else %>
  <h2 class ="welcomeHeader"> Welcome to NFL Confidence Pool! </h2>
  <p>
    This is an app built to allow you to pick the NFL games each weekend.
    Gonna be a short blurb about rules of the game!
  </p>
  <div class="logInSignUp">
    <span id="signIn"><%= link_to "Registered users click here to sign in!", user_session_path %></span>
    <br>
    <span id="signUp"><%= link_to "Sign up here to continue!" ,new_user_registration_path %></span>
  </div>
<% end %>
